<ion-view view-title="New Note" ng-controller="PlaylistsCtrl as notes">
  <ion-content>
    <form class="list" name="noteInput">
      <label class="item item-input">
        <input ng-model="notes.titleInput" type="text" placeholder="Title" required>
      </label>
      <label class="item item-input">
        <textarea ng-model="notes.contentInput" placeholder="Content" rows="20" required></textarea>
      </label>
      <button class="item button button-full button-balanced" ng-disabled="noteInput.$invalid" ng-click="notes.addNote()">Save</button>
      <button class="item button button-full button-assertive" ng-click="notes.clear()">Clear</button>
    </form>
  </ion-content>
</ion-view>
